[submodule ".vim/pack/banoris/start/vim-commentary"]
	path = .vim/pack/banoris/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/banoris/start/logsyntax.vim"]
	path = .vim/pack/banoris/start/logsyntax.vim
	url = https://github.com/banoris/logsyntax.vim.git
[submodule ".vim/pack/banoris/start/haskell-vim"]
	path = .vim/pack/banoris/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule ".vim/pack/banoris/opt/completion-nvim"]
	path = .vim/pack/banoris/opt/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim.git
[submodule ".vim/pack/banoris/opt/nvim-lspconfig"]
	path = .vim/pack/banoris/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule ".vim/pack/banoris/start/rainbow"]
	path = .vim/pack/banoris/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "modules/grc"]
	path = modules/grc
	url = https://github.com/garabik/grc.git
